---
layout: "default"
css:
  - "../../assets/styles/common.scss"
  - "../../assets/styles/promotion.scss"
  - "./index.scss"
js:
  - "../../assets/js/common.js"
  - "./script.js"
---

{% assign indexsrc = "../../" %} {% include
'../../_includes/partials/header/index.html' %}

<main class="container page-promotion">
  <div class="promotion-header">
    <h1 class="promotion-title">PRIDE OF KOREA</h1>
    <p class="promotion-date">2024. 07. 26 - 08. 11</p>
    <svg class="promotion-share" viewBox="0 0 24 24">
      <path fill="none" stroke="#000" d="M18 4.8 4.8 12 18 19.2" />
      <circle cx="18" cy="19.2" r="3.1" fill="#fff" stroke="#000" />
      <circle cx="18" cy="4.8" r="3.1" fill="#fff" stroke="#000" />
      <circle cx="4.799" cy="12" r="3.1" fill="#fff" stroke="#000" />
    </svg>
  </div>

  <div class="promotion-visual">
    <div class="visual-model" data-aos="fade-up">
      <img src="./images/olympic-visual-model.png" alt="" />
    </div>
    <div class="visual-text">
      <div
        class="visual-text__motion motion-pride"
        data-aos="fade-right"
        data-aos-delay="500"
        data-aos-duration="650"
        data-aos-easing="ease-out-cubic"
      >
        <img src="./images/olympic-visual-title-pride.png" alt="" />
      </div>
      <div
        class="visual-text__motion motion-korea"
        data-aos="fade-left"
        data-aos-delay="700"
        data-aos-duration="650"
        data-aos-easing="ease-out-cubic"
      >
        <img src="./images/olympic-visual-title-korea.png" alt="" />
      </div>
      <div
        class="visual-text__subtitle"
        data-aos="fade-right"
        data-aos-duration="650"
        data-aos-easing="ease-out-cubic"
      >
        <img src="./images/olympic-visual-subtitle.png" alt="" />
      </div>
    </div>

    <div
      class="visual-beam visual-beam-01"
      data-aos="fade-right"
      data-aos-delay="500"
      data-aos-duration="650"
      data-aos-easing="ease-out-cubic"
    >
      <span class="visual-beam-line"></span>
      <span class="visual-beam-circle"></span>
    </div>

    <!-- E-->
    <div
      class="visual-beam visual-beam-02"
      data-aos="fade-right"
      data-aos-easing="ease-out-cubic"
      data-aos-delay="650"
      data-aos-duration="650"
    >
      <span class="visual-beam-line"></span>
      <span class="visual-beam-circle"></span>
    </div>

    <!-- o-->
    <div
      class="visual-beam visual-beam-03"
      data-aos="fade-right"
      data-aos-easing="ease-out-cubic"
      data-aos-delay="650"
      data-aos-duration="650"
    >
      <span class="visual-beam-line"></span>
      <span class="visual-beam-circle"></span>
    </div>

    <!-- blue beam-->
    <div
      class="visual-beam visual-beam-04"
      data-aos="fade-right"
      data-aos-delay="500"
      data-aos-duration="650"
      data-aos-easing="ease-out-cubic"
    >
      <span class="visual-beam-blue"></span>
    </div>

    <div
      class="visual-beam visual-beam-05"
      data-aos="fade-left"
      data-aos-delay="400"
      data-aos-duration="600"
      data-aos-easing="ease-out-cubic"
    >
      <span class="visual-beam-blue-center"></span>
    </div>

    <div
      class="visual-beam visual-beam-06"
      data-aos="fade-left"
      data-aos-delay="400"
      data-aos-duration="600"
      data-aos-easing="ease-out-cubic"
    >
      <span class="visual-beam-blue-center"></span>
    </div>
  </div>

  <section class="promotion-section promotion-section--olympic">
    <div class="section-header" data-aos="fade-up">
      <img src="./images/olympic-table-title.png" alt="" />
    </div>
    <div class="section-content">
      <div class="section-item section-item-01">
        <p class="section-item__title" data-aos="fade-up">
          <img src="./images/olympic-table-01-title.png" alt="" />
        </p>
        <div class="section-item__grid" data-aos="fade-up">
          <img src="./images/olympic-table-01.jpg" alt="" />
          <div class="grid-motion">
            <div
              class="grid-motion__01"
              data-aos="fade-right"
              data-aos-delay="200"
            >
              <div class="motion-item">
                <img src="./images/olympic-table-01-motion-01.png" alt="" />
              </div>
            </div>
            <div class="grid-motion__02"></div>
            <div class="grid-motion__03"></div>
            <div class="grid-motion__04">
              <div class="motion-item motion-item-bg">
                <img src="./images/olympic-table-01-motion-bg.png" alt="" />
              </div>
              <div class="motion-item" data-aos="fade-up" data-aos-delay="600">
                <img src="./images/olympic-table-01-motion-03.png" alt="" />
              </div>
            </div>
            <div
              class="grid-motion__05"
              data-aos="fade-left"
              data-aos-delay="400"
            >
              <div class="motion-item">
                <img src="./images/olympic-table-01-motion-02.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="section-item__letter">
          <div class="letter-motion">
            <img
              data-aos="fade-in"
              data-aos-delay="700"
              src="./images/olympic-table-01-motion-g.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="800"
              src="./images/olympic-table-01-motion-o.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="900"
              src="./images/olympic-table-01-motion-ex.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="section-item section-item-02">
        <p class="section-item__title" data-aos="fade-up">
          <img src="./images/olympic-table-02-title.png" alt="" />
        </p>
        <div class="section-item__grid" data-aos="fade-up">
          <img src="./images/olympic-table-02.jpg" alt="" />
        </div>
        <div class="section-item__letter">
          <div class="letter-motion">
            <img
              data-aos="fade-in"
              src="./images/olympic-table-02-motion-k.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="150"
              src="./images/olympic-table-02-motion-o.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="300"
              src="./images/olympic-table-02-motion-r.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="450"
              src="./images/olympic-table-02-motion-e.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="600"
              src="./images/olympic-table-02-motion-a.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="750"
              src="./images/olympic-table-02-motion-ex.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="section-item section-item-03">
        <p class="section-item__title" data-aos="fade-up">
          <img src="./images/olympic-table-03-title.png" alt="" />
        </p>
        <div class="section-item__grid" data-aos="fade-up">
          <img src="./images/olympic-table-03.jpg" alt="" />
          <div class="grid-motion">
            <div class="grid-motion__01"></div>
            <div class="grid-motion__02"></div>
            <div class="grid-motion__03"></div>
            <div
              class="grid-motion__04"
              data-aos="fade-left"
              data-aos-delay="200"
            >
              <div class="motion-item">
                <img src="./images/olympic-table-03-motion-01.png" alt="" />
              </div>
            </div>
            <div class="grid-motion__05">
              <div class="motion-item motion-item-bg">
                <img src="./images/olympic-table-03-motion-bg.png" alt="" />
              </div>
            </div>
            <div class="grid-motion__06" data-aos="fade-right">
              <div class="motion-item">
                <img src="./images/olympic-table-03-motion-02.png" alt="" />
              </div>
            </div>
            <div class="grid-motion__07"></div>
          </div>
        </div>
        <div class="section-item__letter">
          <div class="letter-motion">
            <img
              data-aos="fade-in"
              data-aos-delay="500"
              src="./images/olympic-table-03-motion-p.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="600"
              src="./images/olympic-table-03-motion-a.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="700"
              src="./images/olympic-table-03-motion-r.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="800"
              src="./images/olympic-table-03-motion-i.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="900"
              src="./images/olympic-table-03-motion-s.png"
              alt=""
            />
            <img
              data-aos="fade-in"
              data-aos-delay="1000"
              src="./images/olympic-table-03-motion-ex.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="promotion-section promotion-section--live">
    <div class="section-header" data-aos="fade-up">
      <img src="./images/olympic-live-title-01.png" alt="" />
    </div>
    <div class="section-content">
      <div class="section-item">
        <div class="section-item__video" data-aos="fade-up">
          <video autoplay muted preload playsinline>
            <source src="./video/olympic-live-video.mp4" />
          </video>
        </div>
        <div class="section-item__tags">
          <div
            class="section-item__tag section-item__tag-01"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <img src="./images/olympic-live-tag-01.jpg" alt="" />
          </div>
          <div
            class="section-item__tag section-item__tag-02"
            data-aos="fade-up"
          >
            <img src="./images/olympic-live-tag-02.jpg" alt="" />
          </div>
        </div>
        <div class="section-item__icons">
          <div
            class="section-item__icon section-item__icon-01"
            data-aos="fade-up"
          >
            <img src="./images/olympic-live-icon-01.png" alt="" />
          </div>
          <div
            class="section-item__icon section-item__icon-02"
            data-aos="fade-up"
          >
            <img src="./images/olympic-live-icon-02.png" alt="" />
          </div>
          <div
            class="section-item__icon section-item__icon-03"
            data-aos="fade-up"
          >
            <img src="./images/olympic-live-icon-03.png" alt="" />
          </div>
        </div>
        <a href="#none" class="section-item__button" data-aos="fade-up">
          <img
            src="./images/olympic-live-button.jpg"
            alt="라이브방송 시청하기"
          />
        </a>
      </div>
      <div class="section-item">
        <div data-aos="fade-up" data-aos-delay="200">
          <img src="./images/olympic-live-title-02.png" alt="" />
        </div>
        <div class="section-item__coupons" data-aos="fade-up">
          <div class="coupon-item">
            <div
              class="coupon-item__inner"
              data-aos="fade-up"
              data-aos-offset="100"
            >
              <div class="coupon-image">
                <img src="./images/olympic-live-coupon-01.png" alt="" />
              </div>
            </div>
          </div>
          <div class="coupon-item">
            <div
              class="coupon-item__inner"
              data-aos="fade-up"
              data-aos-delay="100"
              data-aos-offset="100"
            >
              <div class="coupon-image">
                <img src="./images/olympic-live-coupon-02.png" alt="" />
              </div>
            </div>
          </div>
          <div class="coupon-item">
            <div
              class="coupon-item__inner"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-offset="100"
            >
              <div class="coupon-image">
                <img src="./images/olympic-live-coupon-03.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="promotion-section promotion-section--event">
    <div class="section-header" data-aos="fade-up">
      <img src="./images/olympic-paris-title.png" alt="" />
    </div>
    <div class="section-content">
      <div class="section-item">
        <div class="section-item__title" data-aos="fade-up">
          <img src="./images/olympic-paris-subtitle.png" alt="" />
        </div>
        <div class="section-item__image">
          <img
            data-aos="fade-up"
            src="./images/olympic-event-main.jpg"
            alt=""
          />

          <div
            class="section-item__icon section-item__icon-01"
            data-aos="fade-up-right"
          >
            <img src="./images/olympic-event-icon-01.png" alt="" />
          </div>
          <div
            class="section-item__icon section-item__icon-02"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <img src="./images/olympic-event-icon-02.png" alt="" />
          </div>
          <div
            class="section-item__icon section-item__icon-03"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <img src="./images/olympic-event-icon-03.png" alt="" />
          </div>
        </div>
        <div class="section-item__informaition" data-aos="fade-up">
          <img src="./images/olympic-event-info.png" alt="" />
        </div>
        <a href="#none" class="section-item__button" data-aos="fade-up">
          <img
            src="./images/olympic-event-button.jpg"
            alt="라이브 상품 구매하기"
          />
        </a>
      </div>
    </div>
  </section>

  <section class="promotion-section promotion-section--swiper">
    <div class="section-header" data-aos="fade-up">
      <img src="./images/olympic-swiper-title.png" alt="" />
    </div>
    <div class="section-content" data-aos="fade-up">
      <div class="swiper-centered-clip">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-02.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-05-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-03.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-01-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-01.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-02-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-04.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-03-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-05.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-04-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-02.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-05-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-03.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-01-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-01.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-02-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-04.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-03-text.png" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <img src="./images/olympic-swiper-05.jpg" alt="" />
              <div class="swiper-slide__text">
                <img src="./images/olympic-swiper-04-text.png" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </section>

  <div class="promotion-list-link">
    <a href="../../">목록보기</a>
  </div>
</main>

{% include '../../_includes/partials/footer/index.html' %}
