@use "util" as *;

.footer {
  position: relative;
  width: 100%;
  background-color: #000000;
  color: #fff;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    box-shadow: 0px -4px 34px 0px rgba(0, 0, 0, 0.07);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.footer__button-wrap {
  padding-bottom: env(safe-area-inset-bottom);
  position: fixed;
  bottom: 60px;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  max-width: 750px;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: fv(20);
  opacity: 1;
  z-index: 100;
  margin-left: -12px;
  transition:
    opacity 0.4s linear,
    z-index 0.4s linear;

  // &.is-fix {
  //   position: absolute;
  //   bottom: 100%;
  //   margin-bottom: 82px;
  // }
}

.footer__button {
  opacity: 0;
  width: 40px;
  height: 40px;
  transition:
    opacity 0.4s linear,
    z-index 0.4s linear;

  &.is-active {
    cursor: pointer;
    opacity: 1;
    z-index: 100;
  }
}

.footer__icon {
  display: inline-flex;
  width: 40px;
  height: 40px;

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: var(--footer-top-btn);
  }
}

.footer__inner {
  display: block;
}

.footer__bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  height: auto;
  max-height: 120px;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 102;
  max-width: 750px;
  box-shadow: 0px -4px 34px 0px rgba(0, 0, 0, 0.07);

  &:has(img.dark-bar) {
    background-color: #000;
  }

  &--link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;

    .home-btn {
      width: 25%;
      height: 100%;
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    .gnb-btn {
      width: 25%;
      height: 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      cursor: pointer;
    }
  }

  // &.is-fix {
  //   position: absolute;
  //   bottom: 100%;
  // }

  .bottom-bar-wrap {
    display: flex;
    height: 60px;
    padding: 0px percent(20, 750);
    justify-content: space-between;
    align-items: center;
    img {
      width: 40px;
    }
  }
}

// lnb

.list-lnb {
  position: relative;

  .floating-lnb {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    z-index: 10;
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);

    .footer__lnb {
      &-btn {
        margin-inline: auto;
        width: 142px;
        display: block;
      }
    }

    // &.is-fix {
    //   position: absolute;
    //   bottom: 0;
    //   margin-bottom: 82px;
    // }
  }
}

.footer__bottom-bar--pdp {
  background-color: #000;
}

.dark-bar {
  width: 100%;
  height: 60px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  letter-spacing: -0.32px;

  .image-box {
    display: flex;
    width: 60px;
    flex-shrink: 0;
    height: 100%;
    border-right: 1px solid #2e2e2e;
    align-items: center;
    justify-content: center;
    > img {
      width: 18px;
      height: 18px;
    }
  }

  .footer__bottom-bar-item {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .footer__bottom-bar-item + .footer__bottom-bar-item {
    border-left: 1px solid #2e2e2e;
  }
}

@supports (-webkit-touch-callout: none) {
  .footer__bottom-bar {
    padding-bottom: var(safe-area-inset-bottom, 20px);
  }
}
