<div class="gnb" id="gnb">
  <div class="gnb-menu">
    <div class="gnb-menu-head">
      <div class="gnb-menu-head__left">
        <div
          class="layout-header__logo-link"
          style="--header-color: #000"
        ></div>
        <div class="menu-head__back">
          <button class="btn-mob-back" type="button">
            <span class="a11y-hidden">뒤로가기</span>
          </button>
        </div>
      </div>
      <div class="menu-head__title"></div>
      <div class="gnb-menu-head__right">
        <div class="menu-head__cart has-dot">
          <button
            class="layout-header__btn layout-header__btn-02"
            type="button"
            style="--header-color: #000"
          >
            <span class="a11y-hidden">cart</span>
          </button>
        </div>
        <div class="menu-head__close">
          <button class="btn-mob-close" type="button">
            <span class="a11y-hidden">닫기</span>
          </button>
        </div>
      </div>
    </div>
    <div class="gnb-menu-body">
      <!-- 1depth -->
      <div class="depth1-inner">
        <ul class="depth1-list">
          <li class="depth1-item no-arrow depth1-item--promotion">
            <a class="depth1_into has-dot" href="{{imgPath01}}promotion/a"
              >TNF 감사제</a
            >
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">남성</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">여성</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">아동</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">화이트 라벨</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">가방&amp;용품</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">신발</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">아울렛</a>
          </li>
          <li class="depth1-item">
            <a class="depth1_into" href="#none">랭킹</a>
          </li>
          <li class="depth1-item depth1-item--line">
            <span class="line"></span>
          </li>
          <li class="depth1-item" id="brand-info--btn">
            <a class="depth1_into" href="#none">브랜드 소개</a>
          </li>
          <li class="depth1-item">
            <a
              class="depth1_lookbook"
              href="{{imgPath01}}page/lookbook/list.html"
              >시즌 룩북</a
            >
          </li>
        </ul>
      </div>

      <div class="brand-info--layer">
        <ul class="brand-info--links">
          <li class="brand-info--item">
            <a href="{{imgPath01}}page/technology">
              <div class="img-box">
                <img
                  src="{{imgPath01}}assets/images/gnb/gnb_brand_01.jpg"
                  alt=""
                />
              </div>
              <span class="a11y-hidden">BRAND STORY 페이지 이동</span>
            </a>
          </li>
          <li class="brand-info--item">
            <a href="{{imgPath01}}page/technology">
              <div class="img-box">
                <img
                  src="{{imgPath01}}assets/images/gnb/gnb_brand_02.jpg"
                  alt=""
                />
              </div>
              <span class="a11y-hidden">VISION 페이지 이동</span>
            </a>
          </li>
          <li class="brand-info--item">
            <a href="{{imgPath01}}page/technology">
              <div class="img-box">
                <img
                  src="{{imgPath01}}assets/images/gnb/gnb_brand_03.jpg"
                  alt=""
                />
              </div>
              <span class="a11y-hidden">TEAM 페이지 이동</span>
            </a>
          </li>
          <li class="brand-info--item">
            <a href="{{imgPath01}}page/technology">
              <div class="img-box">
                <img
                  src="{{imgPath01}}assets/images/gnb/gnb_brand_04.jpg"
                  alt=""
                />
              </div>
              <span class="a11y-hidden">TECHNOLOGY 페이지 이동</span>
            </a>
          </li>
          <li class="brand-info--item">
            <a href="{{imgPath01}}page/technology">
              <div class="img-box">
                <img
                  src="{{imgPath01}}assets/images/gnb/gnb_brand_05.jpg"
                  alt=""
                />
              </div>
              <span class="a11y-hidden"></span>
            </a>
          </li>
        </ul>
        <!-- <img src="{{imgPath01}}assets/images/gnb/gnb_brand.jpg" alt="" /> -->
      </div>

      <!-- 2depth -->
      <div class="depth2-body">
        <div class="depth2-inner">
          <div class="depth2-sub-inner">
            <ul class="depth2-sub-list">
              <li>
                <a href="#nav_01" class="depth2_item">전체보기</a>
              </li>
              <li>
                <a href="#nav_02" class="depth2_item target">자켓&amp;조끼</a>
                <!-- depth3 -->
                <div class="depth3">
                  <a href="{{imgPath01}}page/list/">
                    <div class="depth3-inner">
                      <div class="depth3-list all-btn" id="nav_01">
                        <span class="depth3-sub-tit">전체보기</span>
                      </div>

                      <div class="depth3-list" id="nav_02">
                        <span class="depth3-sub-tit">자켓&amp;조끼</span>
                        <ul class="depth3-sub-list">
                          <li>기능성자켓</li>
                          <li>자켓</li>
                          <li>아노락</li>
                          <li>조끼</li>
                          <li>플리스 자켓</li>
                        </ul>
                      </div>

                      <div class="depth3-list" id="nav_03">
                        <span class="depth3-sub-tit">티&amp;셔츠</span>
                        <ul class="depth3-sub-list">
                          <li>티셔츠</li>
                          <li>맨투맨&amp;후디</li>
                          <li>집티&amp;터틀넥</li>
                          <li>폴로&amp;셔츠</li>
                        </ul>
                      </div>

                      <div class="depth3-list" id="nav_04">
                        <span class="depth3-sub-tit">바지</span>
                        <ul class="depth3-sub-list">
                          <li>팬츠</li>
                          <li>트레이닝&amp;조거</li>
                          <li>숏팬츠</li>
                        </ul>
                      </div>

                      <div class="depth3-list">
                        <span class="depth3-sub-tit">워터스포츠</span>
                      </div>
                    </div>
                  </a>
                </div>
              </li>
              <li><a href="#nav_03" class="depth2_item">티&amp;셔츠</a></li>
              <li><a href="#nav_04" class="depth2_item">바지</a></li>
              <li><a href="#none" class="depth2_item">워터스포츠</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="gnb-menu--footer">
      <img src="{{imgPath01}}assets/images/gnb/gnb_footer_icon01.png" alt="" />
      <div class="icon-wrap">
        <img
          src="{{imgPath01}}assets/images/gnb/gnb_footer_icon02.png"
          alt=""
        />
        <img
          src="{{imgPath01}}assets/images/gnb/gnb_footer_icon03.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
