---
layout: "default"
css:
  - "../../assets/styles/common.scss"
  - "../../assets/styles/promotion.scss"
  - "./index.scss"
js:
  - "../../assets/js/common.js"
  - "./script.js"
---

{% assign indexsrc = "../../" %} {% include
'../../_includes/partials/header/index.html' %}

<main class="container page-promotion">
  <div class="promotion-header">
    <h1 class="promotion-title">노스페이스 THANKS FESTIVAL</h1>
    <p class="promotion-date">2024. 08. 10 - 08. 16</p>
    <svg class="promotion-share" viewBox="0 0 24 24">
      <path fill="none" stroke="#000" d="M18 4.8 4.8 12 18 19.2" />
      <circle cx="18" cy="19.2" r="3.1" fill="#fff" stroke="#000" />
      <circle cx="18" cy="4.8" r="3.1" fill="#fff" stroke="#000" />
      <circle cx="4.799" cy="12" r="3.1" fill="#fff" stroke="#000" />
    </svg>
  </div>

  <!-- main -->
  <div class="a-main-container">
    <img
      src="./images/a-main-container-title.png"
      alt="THANKS FESTIVAL"
      class="main-title"
      data-aos="fade-up"
      data-aos-delay="500"
    />
    <img
      src="./images/a-main-container-date.png"
      alt="2024.08.10 - 08.15"
      class="main-date"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-delay="600"
    />
    <img
      src="./images/a-main-container-sub-title-01.png"
      alt="Thanks Festival 노스페이스 감사제"
      class="sub-title sub-title-01"
      data-aos="fade-up"
      data-aos-offset="100"
      data-aos-delay="800"
    />
    <img
      src="./images/a-main-container-sub-title-02.png"
      alt="The NorthFace"
      class="sub-title sub-title-02"
      data-aos="fade-up"
      data-aos-delay="700"
    />
    <div
      class="a-main-swiper a-main-swiper-01"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-easing="ease-in-out-Expo"
    >
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-01">
            <img src="./images/main-swiper-01.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-02" style="opacity: 0">
            <img src="./images/main-swiper-02.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-03">
            <img src="./images/main-swiper-03.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-04" style="opacity: 0">
            <img src="./images/main-swiper-04.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-05">
            <img src="./images/main-swiper-05.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-06" style="opacity: 0">
            <img src="./images/main-swiper-06.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-07">
            <img src="./images/main-swiper-07.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-08" style="opacity: 0">
            <img src="./images/main-swiper-08.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-01">
            <img src="./images/main-swiper-01.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-02" style="opacity: 0">
            <img src="./images/main-swiper-02.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-03">
            <img src="./images/main-swiper-03.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-04" style="opacity: 0">
            <img src="./images/main-swiper-04.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-05">
            <img src="./images/main-swiper-05.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-06" style="opacity: 0">
            <img src="./images/main-swiper-06.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-07">
            <img src="./images/main-swiper-07.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-08" style="opacity: 0">
            <img src="./images/main-swiper-08.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="a-main-swiper a-main-swiper-02"
      data-aos="fade-up"
      data-aos-duration="700"
      data-aos-easing="ease-in-out-Expo"
    >
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-01" style="opacity: 0">
            <img src="./images/main-swiper-01.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-02">
            <img src="./images/main-swiper-02.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-03" style="opacity: 0">
            <img src="./images/main-swiper-03.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-04">
            <img src="./images/main-swiper-04.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-05" style="opacity: 0">
            <img src="./images/main-swiper-05.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-06">
            <img src="./images/main-swiper-06.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-07" style="opacity: 0">
            <img src="./images/main-swiper-07.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-08">
            <img src="./images/main-swiper-08.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-01" style="opacity: 0">
            <img src="./images/main-swiper-01.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-02">
            <img src="./images/main-swiper-02.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-03" style="opacity: 0">
            <img src="./images/main-swiper-03.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-04">
            <img src="./images/main-swiper-04.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-05" style="opacity: 0">
            <img src="./images/main-swiper-05.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-06">
            <img src="./images/main-swiper-06.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-07" style="opacity: 0">
            <img src="./images/main-swiper-07.png" alt="" />
          </div>
          <div class="swiper-slide swiper-slide-08">
            <img src="./images/main-swiper-08.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tab -->
  <div class="sticky-tab" id="stickyTab01" role="navigation">
    <div class="sticky-tab-position">
      <div class="sticky-tab__container">
        <ul class="sticky-tab__list">
          <li class="sticky-tab__item is-active">
            <a
              href="#eventSection01"
              data-target="eventSection01"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">스페셜 쿠폰</span>
            </a>
          </li>
          <li class="sticky-tab__item">
            <a
              href="#eventSection02"
              data-target="eventSection02"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">1+1 이벤트</span>
            </a>
          </li>
          <li class="sticky-tab__item">
            <a
              href="#eventSection03"
              data-target="eventSection03"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">원데이 할인상품</span>
            </a>
          </li>
          <li class="sticky-tab__item">
            <a
              href="#eventSection04"
              data-target="eventSection04"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">베스트 상품</span>
            </a>
          </li>
          <li class="sticky-tab__item">
            <a
              href="#eventSection05"
              data-target="eventSection05"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">럭키 드로우</span>
            </a>
          </li>
          <li class="sticky-tab__item">
            <a
              href="#eventSection06"
              data-target="eventSection06"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">신상품</span>
            </a>
          </li>
          <li class="sticky-tab__item">
            <a
              href="#eventSection07"
              data-target="eventSection07"
              class="sticky-tab__link"
            >
              <span class="sticky-tab__text">카드사 혜택</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- SPECIAL COUPON -->
  <div class="special-container" id="eventSection01">
    <img
      src="./images/special-main-title-01.png"
      alt="EVENT 1"
      class="main-title main-title-01 center"
      data-aos="fade-up"
    />
    <img
      src="./images/special-main-title-02.png"
      alt="SPECIAL coupon"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/special-main-title-03.png"
      alt="감사제를 맞아 여러 종류의 제품을 할인 가격에 선보입니다. 최대 20% 혜택을 받으세요!"
      class="main-title main-title-03 center"
      data-aos="fade-up"
    />
    <div class="coupon-container center">
      <img
        src="./images/special-coupon-01.png"
        alt="THE NORTHFACE 10% 10만원 구매 시 최대 1만원 할인"
        class="special-coupon special-coupon-01"
        data-aos="fade-up"
        data-aos-offset="100"
      />
      <img
        src="./images/special-coupon-02.png"
        alt="THE NORTHFACE 20% 20만원 구매 시 최대 2만원 할인"
        class="special-coupon special-coupon-02"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="100"
      />
    </div>
    <img
      src="./images/special-coupon-download-button.png"
      alt="쿠폰 다운받기"
      class="coupon-download-button center"
      data-aos="fade-up"
    />
  </div>
  <!-- ONE PLUS ONE -->
  <div class="plus-container" id="eventSection02">
    <img
      src="./images/plus-main-title-01.png"
      alt="EVENT 2"
      class="main-title main-title-01 center"
      data-aos="fade-up"
    />
    <img
      src="./images/plus-main-title-02.png"
      alt="ONE PLUS ONE"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/plus-main-title-03.png"
      alt="같은 상품 두개를 사면 합리적인 가격으로 구매할 수 있는 기회! 행사 기간동안 하나 사면 하나 더!"
      class="main-title main-title-03 center"
      data-aos="fade-up"
    />
    <div class="plus-item-container center">
      <img
        src="./images/plus-goods-01.png"
        alt="감사제를 맞아 여러 종류의 제품을 할인 가격에 선보입니다. 최대 20% 혜택을 받으세요!"
        class="plus-item plus-item-01"
        data-aos="fade-up"
        data-aos-offset="100"
      />
      <img
        src="./images/plus-goods-02.png"
        alt="감사제를 맞아 여러 종류의 제품을 할인 가격에 선보입니다. 최대 20% 혜택을 받으세요!"
        class="plus-item plus-item-02"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="100"
      />
      <img
        src="./images/plus-goods-03.png"
        alt="감사제를 맞아 여러 종류의 제품을 할인 가격에 선보입니다. 최대 20% 혜택을 받으세요!"
        class="plus-item plus-item-03"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      />
    </div>
  </div>
  <!-- ONEDAY SALE  -->
  <div class="oneday-container" id="eventSection03">
    <img
      src="./images/oneday-container-main-title-01.png"
      alt="EVENT 3"
      class="main-title main-title-01 center"
      data-aos="fade-up"
      data-aos-offset="100"
    />
    <img
      src="./images/oneday-container-main-title-02.png"
      alt="ONE DAY SALE"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/oneday-container-main-title-03.png"
      alt="매일 오전 10시에 찾아오는 총 7일간 매일 달라지는 원데이 할인 상품"
      class="main-title main-title-03 center"
      data-aos="fade-up"
      data-aos-delay="100"
    />
    <img
      src="./images/oneday-container-date.png"
      alt="2024.08.10 - 2024.08.16 매일 오전 10시"
      class="oneday-date center"
      data-aos="fade-up"
    />
    <div class="oneday-swiper" data-aos="fade-up">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-06.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-06-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.13 30% K'S CIRRUS JACKET
              <del>189,000</del> 126,400
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-07.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-07-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.14 30% SUPER MESSENGER BAG
              <del>189,000</del> 107,900
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-01.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-01-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.15 60% W'S MODALI S/S R/TEE
              <del>109,000</del> 40,900
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-02.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-02-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.16 20% TNF DAY PACK MINI
              <del>109,000</del> 89,900
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-03.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-03-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.10 40% Team archive S/S R/Tee
              <del>65,000</del> 48,000
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-04.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-04-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.11 30% W'S TRAVELER JACKET
              <del>199,000</del> 139,000
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-05.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-05-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.12 30% K'S MOUNTAIN JACKET
              <del>189,000</del> 129,000
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-06.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-06-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.12 30% K'S MOUNTAIN JACKET
              <del>189,000</del> 129,000
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-07.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-07-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.13 30% K'S CIRRUS JACKET
              <del>189,000</del> 126,400
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-01.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-01-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.14 30% SUPER MESSENGER BAG
              <del>189,000</del> 107,900
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-02.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-02-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.15 60% W'S MODALI S/S R/TEE
              <del>109,000</del> 40,900
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-03.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-03-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.16 20% TNF DAY PACK MINI
              <del>109,000</del> 89,900
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-04.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-04-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.10 40% Team archive S/S R/Tee
              <del>65,000</del> 48,000
            </span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__inner">
              <img
                class="border"
                src="./images/oneday-container-swiper-active-05.png"
                alt=""
              />
            </div>
            <div class="swiper-slide__text">
              <img
                src="./images/oneday-container-swiper-active-05-tag.png"
                alt=""
              />
            </div>
            <span class="blind">
              8.11 30% W'S TRAVELER JACKET
              <del>199,000</del> 139,000
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BEST ITEM -->
  <div class="best-container" id="eventSection04">
    <img
      src="./images/best-main-title-01.png"
      alt="EVENT 4"
      class="main-title main-title-01 center"
      data-aos="fade-up"
    />
    <img
      src="./images/best-main-title-02.png"
      alt="BEST ITEM"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/best-main-title-03.png"
      alt="카테고리별 베스트 상품을 만나보세요. 남성복,여성복,키즈 제품까지 놀라운 할인 가격으로 제공됩니다."
      class="main-title main-title-03 center"
      data-aos="fade-up"
    />
    <div class="best-tab-container">
      <ul class="best-tab-list" data-aos="fade-up">
        <li class="best-tab-item">
          <span class="blind"> MEN </span>
        </li>
        <li class="best-tab-item">
          <span class="blind"> WOMEN </span>
        </li>
        <li class="best-tab-item">
          <span class="blind"> KIDS </span>
        </li>
        <li class="best-tab-item">
          <span class="blind"> WHITE LABEL </span>
        </li>
        <li class="best-tab-item">
          <span class="blind"> BAG </span>
        </li>
        <li class="best-tab-item">
          <span class="blind"> SHOES </span>
        </li>
      </ul>
      <div class="best-swiper center" data-aos="fade-up">
        <!-- 탭 텍스트 이미지 교차 -->
        <div class="swiper-texts center">
          <div class="swiper-text">
            <img src="./images/best-tab-item-01.png" alt="" />
          </div>
          <div class="swiper-text">
            <img src="./images/best-tab-item-02.png" alt="" />
          </div>
          <div class="swiper-text">
            <img src="./images/best-tab-item-03.png" alt="" />
          </div>
          <div class="swiper-text">
            <img src="./images/best-tab-item-04.png" alt="" />
          </div>
          <div class="swiper-text">
            <img src="./images/best-tab-item-05.png" alt="" />
          </div>
          <div class="swiper-text">
            <img src="./images/best-tab-item-06.png" alt="" />
          </div>
        </div>
        <div class="swiper-container center">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./images/best-tab-content-01.png" alt="" />
              <p class="blind">
                MEN 움직임을 편하게 해주는 우수한 스트레치성을 가진 자켓입니다.
                발수 가공으로 가벼운 우천시에도 쾌적하게 착용 가능합니다.
              </p>
            </div>
            <div class="swiper-slide">
              <img src="./images/best-tab-content-02.png" alt="" />
              <p class="blind">
                WOMEN 피부 접촉시 시원함을 느끼게 해주는 접촉 냉감 소재
                자켓입니다. 습기를 빠르게 흡수하고 배출하여 여름에도 쾌적한
                착용감을 제공합니다.
              </p>
            </div>
            <div class="swiper-slide">
              <img src="./images/best-tab-content-03.png" alt="" />
              <p class="blind">
                KIDS 가슴 와펜형 그래픽으로 포인트를 준 컬럽르럭형 라그란
                래쉬가드 티셔츠입니다. 흡습속건 기능이 우수하며, 신축성이 뛰어나
                활동적인 워터 스포츠에 적합합니다.
              </p>
            </div>
            <div class="swiper-slide">
              <img src="./images/best-tab-content-04.png" alt="" />
              <p class="blind">
                WHITE LABEL 신축성이 좋은 소재를 사용하여 활동하기 편안한 반팔
                반집 스타일입니다. 냉감 소재를 사용하여 초여름까지도 착용이
                가능하며 일상 또는 가벼운 운동 시 착용하기 좋은 아이템입니다.
              </p>
            </div>
            <div class="swiper-slide">
              <img src="./images/best-tab-content-05.png" alt="" />
              <p class="blind">
                BAG 오리지널 HOT SHOT 모델로 28리터로 수납에 충실한 DAY PACK
                입니다. 일상생활, 여행 및 간단한 하이킹에도 사용할 수 있는
                가방입니다.
              </p>
            </div>
            <div class="swiper-slide">
              <img src="./images/best-tab-content-06.png" alt="" />
              <p class="blind">
                SHOES 일상과 가벼운 아웃도어 활동에서 모두 신을 수 있는 스니커
                샌들입니다. 발등에 두 개의 스트랩이 적용되어 편리한 착화가
                가능합니다.
              </p>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <img
      src="./images/best-go-button.png"
      alt="카테고리별 베스트 상품을 만나보세요. 남성복,여성복,키즈 제품까지 놀라운 할인 가격으로 제공됩니다."
      class="best-go-button center"
      data-aos="fade-up"
    />
  </div>
  <!-- LUCKY DRAW -->
  <div class="lucky-container" id="eventSection05">
    <img
      src="./images/lucky-main-title-01.png"
      alt="EVENT 5"
      class="main-title main-title-01 center"
      data-aos="fade-up"
    />
    <img
      src="./images/lucky-main-title-02.png"
      alt="LUCKY DRAW"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/lucky-main-title-03.png"
      alt="20만원이상 구매 시 럭키드로우 응모권 제공 지금 응모하고 노스페이스의 한정판 제품의 주인공이 되어보세요!"
      class="main-title main-title-03 center"
      data-aos="fade-up"
    />
    <img
      src="./images/lucky-main-title-04.png"
      alt="Limited Edition"
      class="main-title main-title-04 center"
      data-aos="fade-up"
    />
    <img
      src="./images/lucky-main-title-05.png"
      alt="08.10 - 16"
      class="main-title main-title-05 center"
      data-aos="fade-up"
    />
    <div class="lucky-swiper" data-aos="fade-up">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="./images/lucky-01.png"
              alt="Bear Tan-"
              class="lucky-swiper-image"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/lucky-02.png"
              alt="Duffle Bag"
              class="lucky-swiper-image"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/lucky-03.png"
              alt="Seam Jacket"
              class="lucky-swiper-image"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/lucky-04.png"
              alt="Nuptese Jacket"
              class="lucky-swiper-image"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/lucky-05.png"
              alt="L'oeil Backpack"
              class="lucky-swiper-image"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/lucky-06.png"
              alt="Split 6-panel"
              class="lucky-swiper-image"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/lucky-07.png"
              alt="S/S TOP"
              class="lucky-swiper-image"
            />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <img
      src="./images/lucky-button.png"
      alt="럭키 드로우 응모하기"
      class="lucky-draw-button center"
      data-aos="fade-up"
    />
  </div>
  <!-- NEW ARRIVALS -->
  <div class="new-container" id="eventSection06">
    <img
      src="./images/new-main-title-01.png"
      alt="EVENT 6"
      class="main-title main-title-01 center"
      data-aos="fade-up"
    />
    <img
      src="./images/new-main-title-02.png"
      alt="NEW ARRIVIALS"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/new-main-title-03.png"
      alt="노스페이스 감사제를 맞아 여러 종류의 신제품을 할인 가격에 선보입니다. 최대 20% 혜택을 받으세요!"
      class="main-title main-title-03 center"
      data-aos="fade-up"
    />
    <div class="flow-container"></div>
    <img
      src="./images/new-button.png"
      alt="신상품 보러가기"
      class="new-go-button center"
      data-aos="fade-up"
    />
  </div>
  <!-- CARD BENEFITS -->
  <div class="card-container" id="eventSection07">
    <img
      src="./images/card-main-title-01.png"
      alt="EVENT 7"
      class="main-title main-title-01 center"
      data-aos="fade-up"
    />
    <img
      src="./images/card-main-title-02.png"
      alt="CARD BENEFITS"
      class="main-title main-title-02 center"
      data-aos="fade-up"
    />
    <img
      src="./images/card-main-title-03.png"
      alt="노스페이스 감사제 총 4가지 카드사 혜택을 확인해보세요. 쇼핑하고 살뜰한 혜택, 제대로 챙겨가세요."
      class="main-title main-title-03 center"
      data-aos="fade-up"
    />
    <div class="card-image-container center">
      <img
        src="./images/card-01.png"
        alt="kakaopay 20만원 이상 구매 시 2만원 할인"
        class="card-image"
        data-aos="fade-up"
        data-aos-offset="100"
      />
      <img
        src="./images/card-02.png"
        alt="KB국민카드 30만원 이상 구매 시 3만원 할인"
        class="card-image"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="100"
      />
      <img
        src="./images/card-03.png"
        alt="N pay 20만원 이상 구매 시 2만원 환급"
        class="card-image"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      />
      <img
        src="./images/card-04.png"
        alt="toss 20만원 이상 구매 시 2만원 포인트 지급"
        class="card-image"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="300"
      />
    </div>
  </div>

  <div class="promotion-list-link">
    <a href="../../">목록보기</a>
  </div>
</main>

{% include '../../_includes/partials/footer/index.html' %}
