<section class="section section--full-width section--edition">
  <div class="inner">
    {% include "../../../../_includes/components/main-title/index.html"
    title01:"노스페이스 EDITION" %}
  </div>
  <div
    class="section__body"
    data-aos="fade-up"
    data-aos-delay="400"
    data-aos-duration="1000"
  >
    <div
      class="nofe-image"
      data-aos="fade-up"
      data-aos-delay="600"
      data-aos-duration="1000"
    >
      <img src="./assets/images/main/edition_text.png" alt="" />
    </div>
  </div>
</section>
