<div class="size-info">
  <div class="size-info--header">
    <p class="header-title">사이즈 안내</p>
    <div class="header-body">
      <button type="button" class="find-size" data-show-layer="size">
        <span class="a11y-hidden">맞춤 사이즈 찾기</span>
      </button>
      <img
        src="../../assets/images/pdp/size_info.jpg"
        alt=""
        class="full-image"
      />
    </div>
  </div>
  <div class="size-info--body">
    <img
      src="../../assets/images/pdp/size_table.jpg"
      alt=""
      class="full-image"
    />
  </div>
</div>
