<section class="section section--benefit">
  {% include "../../../../_includes/components/main-title/index.html"
  title01:"회원님들을 위한",title02:"노스페이스의 특별 혜택",desc:"<span
    class="text-underline"
    >더보기</span
  >"%}
  <div class="section__body">
    <ul
      class="benefit"
      data-aos="fade-up"
      data-aos-delay="400"
      data-aos-duration="1000"
    >
      <li class="benefit__item">
        <p class="benefit__title">
          노스페이스 회원이라면<br />
          멤버쉽 쿠폰팩 증정
        </p>
        <button class="benefit__button">쿠폰 다운로드 받기</button>
      </li>
      <li class="benefit__item">
        <p class="benefit__title">
          공식몰 멤버십<br />
          3% 마일리지 적립 혜택
        </p>
        <button class="benefit__button">혜택 자세히보기</button>
      </li>
      <li class="benefit__item">
        <p class="benefit__title">
          구매고객 APP 전용<br />
          재구매 10% 쿠폰 증정
        </p>
        <button class="benefit__button">쿠폰 다운로드 받기</button>
      </li>
    </ul>
  </div>
</section>
