@use "util" as *;
$content: 1920;

.section__body {
  padding: 0 percent(120, $content);
}

.benefit {
  display: flex;
  gap: 20px;
}

.benefit__item {
  --color01: #000;
  --color02: #999;
  width: 33.33%;
  box-sizing: border-box;
  padding: 41px 46px 43px;

  border: 2px solid #eaeaea;
  background-color: #f9f9f9;

  transition: all 0.3s ease-in-out;
}

.benefit__item:hover {
  --color01: #fff;
  --color02: #d9d9d9;
  border-radius: 0px 120px 0px 0px;
  background-color: #333;
  border-color: #333;

  transition: all 0.3s ease-in-out;
}

.benefit__title {
  color: var(--color01);
  font-size: 26px;
  font-weight: 700;
  line-height: 153.846%;
  letter-spacing: -0.02em;

  display: flex;
  flex-direction: column;
  gap: 18px;

  transition: color 0.3s ease-in-out;

  &::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("./assets/images/main/benefit_item01_icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
  }
}

.benefit__item:nth-of-type(2) {
  .benefit__title::before {
    background-image: url("./assets/images/main/benefit_item02_icon.png");
  }
}
.benefit__item:nth-of-type(3) {
  .benefit__title::before {
    background-image: url("./assets/images/main/benefit_item03_icon.png");
  }
}

.benefit__button {
  color: var(--color02);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  margin-top: 48px;

  display: flex;
  gap: 4px;

  transition: color 0.3s ease-in-out;

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    mask-image: url("./assets/images/main/benefit_arrow_icon.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color02);
  }
}
