<footer class="footer">
  <div class="footer-fix">
    <!-- <button type="button" class="button button--quick">
      <i class="icon">
        <span class="a11y-hidden">quick-menu</span>
      </i>
    </button> -->
    <button type="button" class="button button--top">
      <i class="icon">
        <span class="a11y-hidden">Go to top</span>
      </i>
    </button>
  </div>
  <div class="footer__inner">
    <div class="img-box">
      <img src="{{indexsrc}}assets/images/common/footer.jpg" alt="" />
    </div>
  </div>
</footer>
