<header class="layout-header {% if transparent %}is-transparent{% endif %}">
  <div class="layout-header__inner">
    <div class="header-dimmed"></div>
    <div class="header-bg"></div>
    <div class="gnb-bg"></div>
    <div class="header-position">
      <div class="logo header-logo">
        <a class="logo__link" href="{{indexsrc}}">
          {% include '../../../assets/svg/logo.svg' %}
        </a>
      </div>
      <nav class="header-nav">
        <ul class="gnb-nav">
          <li class="gnb-nav__item">
            <a class="link" href="{{indexsrc}}promotion/a/">
              <span class="name has-dot">TNF 감사제</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth always-active">
            <a class="link" href="{{indexsrc}}page/list/">
              <span class="name">남성</span>
            </a>
            <div class="subnav">
              <div class="subnav__inner">
                <div class="subnav__menu">
                  <p class="subnav__title">
                    <a href="{{indexsrc}}page/list/" class="link">남성 전체</a>
                  </p>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="link" href="{{indexsrc}}page/list/">
                        <span class="subnav__text">자켓&amp;조끼</span>
                      </a>
                      <ul class="gnb-depth3">
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >기능성 자켓</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/">자켓</a>
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >아노락</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/">조끼</a>
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >폴리스 자켓</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >다운&amp;패딩</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="subnav__item">
                      <a class="link" href="{{indexsrc}}page/list/">
                        <span class="subnav__text">티&amp;셔츠</span>
                      </a>
                      <ul class="gnb-depth3">
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >티셔츠</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >맨투맨&amp;후디</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >집티&amp;터틀넥</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >폴로&amp;셔츠</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="subnav__item">
                      <a class="link" href="{{indexsrc}}page/list/">
                        <span class="subnav__text">바지</span>
                      </a>
                      <ul class="gnb-depth3">
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/">팬츠</a>
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >트레이닝&amp;조거팬츠</a
                          >
                        </li>
                        <li class="gnb-depth3__item">
                          <a class="link" href="{{indexsrc}}page/list/"
                            >숏팬츠</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="subnav__item">
                      <a class="link" href="{{indexsrc}}page/list/">
                        <span class="subnav__text">워터스포츠</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__banner">
                  <a class="link" href="{{indexsrc}}page/list/">
                    <img
                      src="{{indexsrc}}assets/images/common/subnav_banner.jpg"
                      alt=""
                      width="456"
                    />
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">여성</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">아동</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">화이트라벨</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">가방&amp;용품</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">신발</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">아울렛</span>
            </a>
          </li>
          <li class="gnb-nav__item gnb-nav__item--depth">
            <a class="link" href="#none">
              <span class="name">랭킹</span>
            </a>
          </li>
        </ul>
        <span class="bar"></span>
        <ul class="add-nav">
          <li class="add-nav__item">
            <a class="link" href="{{indexsrc}}page/technology/">
              <span class="name">브랜드 소개</span>
            </a>
            <div class="subnav">
              <div class="subnav__inner">
                <div class="subnav__container"></div>
                <div class="subnav__menu">
                  <p class="subnav__title">브랜드 소개</p>
                  <ul class="card subnav__cards">
                    <li class="card__item">
                      <a class="link" href="{{indexsrc}}page/technology/">
                        <div class="thumbnail">
                          <img
                            src="{{indexsrc}}assets/images/common/brand_card1.jpg"
                            alt=""
                            width="268"
                          />
                        </div>
                        <span class="card__name">BRAND STORY</span>
                      </a>
                    </li>
                    <li class="card__item">
                      <a class="link" href="{{indexsrc}}page/technology/">
                        <div class="thumbnail">
                          <img
                            src="{{indexsrc}}assets/images/common/brand_card2.jpg"
                            alt=""
                            width="268"
                          />
                        </div>
                        <span class="card__name">VISION</span>
                      </a>
                    </li>
                    <li class="card__item">
                      <a class="link" href="{{indexsrc}}page/technology/">
                        <div class="thumbnail">
                          <img
                            src="{{indexsrc}}assets/images/common/brand_card3.jpg"
                            alt=""
                            width="268"
                          />
                        </div>
                        <span class="card__name">TEAM</span>
                      </a>
                    </li>
                    <li class="card__item">
                      <a class="link" href="{{indexsrc}}page/technology/">
                        <div class="thumbnail">
                          <img
                            src="{{indexsrc}}assets/images/common/brand_card4.jpg"
                            alt=""
                            width="268"
                          />
                        </div>
                        <span class="card__name">TECHNOLOGY</span>
                      </a>
                    </li>
                    <li class="card__item">
                      <a class="link" href="{{indexsrc}}page/technology/">
                        <div class="thumbnail">
                          <img
                            src="{{indexsrc}}assets/images/common/brand_card5.jpg"
                            alt=""
                            width="268"
                          />
                        </div>
                        <span class="card__name">EDITION</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="add-nav__item">
            <a class="link" href="{{indexsrc}}page/lookbook/list.html">
              <span class="name">시즌 룩북</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header-lnb">
        <ul class="header-lnb__list">
          <li>{% include '../../../assets/svg/header-user.svg' %}</li>
          <li class="has-dot">
            {% include '../../../assets/svg/header-cart.svg' %}
          </li>
          <li>{% include '../../../assets/svg/header-search.svg' %}</li>
        </ul>
      </div>
    </div>
  </div>
</header>
