<section class="section section--full-width section--collection">
  <div class="inner">
    <div class="section__header">
      <div class="content contents--left">
        <div class="contents__image">
          <img src="./assets/images/main/collection_header_1.png" alt="" />
        </div>
        <div class="contents__text">
          <img src="./assets/images/main/collection_header_text_1.png" alt="" />
        </div>
      </div>
      <div class="contents contents--right">
        <div class="contents__image contents__image--top">
          <img
            src="./assets/images/main/collection_header_circle.png"
            alt="Text 'NEVER STOP EXPLORING THE NORTH FACE' arranged in a circular pattern."
            class="circle"
          />
          <img
            src="./assets/images/main/collection_header_arrow.png"
            alt=""
            class="circle-arrow"
          />
        </div>
        <div class="contents__image contents__image--bottom">
          <img src="./assets/images/main/collection_header_2.png" alt="" />
        </div>
      </div>
    </div>
    <div class="section__body">
      <div class="contents contents--01">
        <div class="area area--left">
          <div class="nofe-img nofe-img--product01">
            <img
              src="./assets/images/main/collection_con01_product_1.png"
              alt=""
              class="img01"
            />
            <img
              src="./assets/images/main/collection_con01_product_1_text.png"
              alt=""
              class="img02"
            />
          </div>
        </div>
        <div class="area area--right">
          <div class="nofe-img nofe-img--topic">
            <img src="./assets/images/main/collection_con01_topic.png" alt="" />
          </div>
          <div class="nofe-img nofe-img--product02">
            <img
              src="./assets/images/main/collection_con01_product_2.png"
              alt=""
              class="img01"
            />
            <img
              src="./assets/images/main/collection_con01_product_3.png"
              alt=""
              class="img02"
            />
          </div>
        </div>
      </div>
      <div class="contents contents--02">
        <div class="area area--left">
          <div class="nofe-img nofe-img--product01">
            <img
              src="./assets/images/main/collection_con02_product_1.png"
              alt=""
              class="img01"
            />
          </div>
        </div>
        <div class="area area--right">
          <div class="nofe-img nofe-img--topic">
            <img src="./assets/images/main/collection_con02_topic.png" alt="" />
          </div>
          <div class="nofe-img nofe-img--product02">
            <img
              src="./assets/images/main/collection_con02_product_2.png"
              alt=""
              class="img01"
            />
            <img
              src="./assets/images/main/collection_con02_product_3.png"
              alt=""
              class="img02"
            />
          </div>
        </div>
      </div>
      <div class="contents contents--03">
        <div class="inner">
          <div class="nofe-img nofe-img--topic">
            <img src="./assets/images/main/collection_con03_topic.png" alt="" />
          </div>
          <div class="nofe-img nofe-img--product">
            <img
              src="./assets/images/main/collection_con03_product.png"
              alt=""
            />
          </div>
          <div class="nofe-img nofe-img--circle">
            <img
              src="./assets/images/main/collection_con03_circle.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="contents contents--04">
        <div class="nofe-video">
          <video
            src="./assets/images/main/collection_con04_video.mp4"
            autoplay
            muted
            playsinline
            loop
          ></video>
        </div>
        <div class="nofe-img">
          <img src="./assets/images/main/collection_con04_text.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
