<!-- s:pdp-top -->
<section class="section section--full-width section--pdp-top">
  <!-- 상품정보 -->
  <div class="pdp-info">
    <div class="pdp-left">
      <button type="button" class="modal codi-btn" data-show-layer="codi">
        <span class="button-txt">코디 추천</span>
      </button>

      <!-- prd-slider -->
      <div class="prd-slider">
        <ul class="prd-slider--list">
          <li class="prd-slider--img" id="prdImg_01">
            <img src="../../assets/images/pdp/prd_01.jpg" alt="상품이미지01" />
          </li>
          <li class="prd-slider--img" id="prdImg_02">
            <img src="../../assets/images/pdp/prd_02.jpg" alt="상품이미지02" />
          </li>
          <li class="prd-slider--img" id="prdImg_03">
            <img src="../../assets/images/pdp/prd_03.jpg" alt="상품이미지03" />
          </li>
          <li class="prd-slider--img" id="prdImg_04">
            <img src="../../assets/images/pdp/prd_04.jpg" alt="상품이미지04" />
          </li>
          <li class="prd-slider--img" id="prdImg_05">
            <img src="../../assets/images/pdp/prd_05.jpg" alt="상품이미지05" />
          </li>
          <li class="prd-slider--img" id="prdImg_06">
            <img src="../../assets/images/pdp/prd_06.jpg" alt="상품이미지06" />
          </li>
        </ul>
        <div class="float-thumb is-fixed">
          <ul class="float-thumb--list">
            <li class="float-thumb--item on active">
              <a href="#prdImg_01" class="item-link">
                <img src="../../assets/images/pdp/pdp_thumb_01.jpg" alt="" />
                <span class="a11y-hidden">상품이미지01</span>
              </a>
            </li>
            <li class="float-thumb--item">
              <a href="#prdImg_02" class="item-link">
                <img src="../../assets/images/pdp/pdp_thumb_02.jpg" alt="" />
                <span class="a11y-hidden">상품이미지02</span>
              </a>
            </li>
            <li class="float-thumb--item">
              <a href="#prdImg_03" class="item-link">
                <img src="../../assets/images/pdp/pdp_thumb_03.jpg" alt="" />
                <span class="a11y-hidden">상품이미지03</span>
              </a>
            </li>
            <li class="float-thumb--item">
              <a href="#prdImg_04" class="item-link">
                <img src="../../assets/images/pdp/pdp_thumb_04.jpg" alt="" />
                <span class="a11y-hidden">상품이미지04</span>
              </a>
            </li>
            <li class="float-thumb--item">
              <a href="#prdImg_05" class="item-link">
                <img src="../../assets/images/pdp/pdp_thumb_05.jpg" alt="" />
                <span class="a11y-hidden">상품이미지05</span>
              </a>
            </li>
            <li class="float-thumb--item">
              <a href="#prdImg_06" class="item-link">
                <img src="../../assets/images/pdp/pdp_thumb_06.jpg" alt="" />
                <span class="a11y-hidden">상품이미지06</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- prd-slider -->
    </div>
    <div class="pdp-right">
      <div class="pdp-sticky">
        <div class="pdp-right--inner">
          <div class="prd-info-frame">
            <button type="button" class="find-size" data-show-layer="size">
              <span class="a11y-hidden">맞춤 사이즈 찾기</span>
            </button>
            <img
              src="../../assets/images/pdp/prd-info-frame.png"
              alt=""
              class="full-image"
            />
          </div>
        </div>

        <!-- 상품 디테일 -->
        <div class="pdp-detail">
          <div class="pdp-detail--inner">
            <img
              src="../../assets/images/pdp/prd-detail.png"
              alt=""
              class="full-image"
            />
          </div>
        </div>
        <!-- 상품 디테일 -->
      </div>
    </div>
  </div>
  <!-- 상품정보 -->
</section>
<!-- e:pdp-top -->
