---
layout: "default"
css:
  - "https://unpkg.com/swiper/swiper-bundle.min.css"
  - "../../assets/styles/common.scss"
  - "../../assets/styles/promotion.scss"
  - "./index.scss"
js:
  - "https://unpkg.com/swiper/swiper-bundle.min.js"
  - "../../assets/js/common.js"
  - "./script.js"
---

{% assign indexsrc = "../../" %} {% include
'../../_includes/partials/header/index.html' %}

<main class="container page-promotion">
  <div class="promotion-header">
    <h1 class="promotion-title">GET READY FOR WINTER</h1>
    <p class="promotion-date">2024. 08. 12 - 08. 31</p>
    <svg class="promotion-share" viewBox="0 0 24 24">
      <path fill="none" stroke="#000" d="M18 4.8 4.8 12 18 19.2" />
      <circle cx="18" cy="19.2" r="3.1" fill="#fff" stroke="#000" />
      <circle cx="18" cy="4.8" r="3.1" fill="#fff" stroke="#000" />
      <circle cx="4.799" cy="12" r="3.1" fill="#fff" stroke="#000" />
    </svg>
  </div>

  <!-- main -->
  <div class="c-main-container">
    <img
      src="./images/w_main_get.png"
      alt="GET"
      class="w_cover w_cover-01"
      data-aos="fade-left"
      data-aos-delay="100"
    />
    <img
      src="./images/w_main_ready.png"
      alt="READY"
      class="w_cover w_cover-02"
      data-aos="fade-left"
      data-aos-delay="100"
    />
    <img
      src="./images/w_main_for.png"
      alt="FOR"
      class="w_cover w_cover-03"
      data-aos="fade-right"
      data-aos-delay="400"
    />
    <img
      src="./images/w_main_sub.png"
      alt="UP TO 90% 노스페이스 다운 역시즌 특가 미리 준비하는 겨울"
      class="w_cover w_cover-04"
      data-aos="fade-right"
      data-aos-delay="400"
    />
    <img
      src="./images/w_main_win.png"
      alt="WIN"
      class="w_cover w_cover-05"
      data-aos="fade-right"
      data-aos-delay="600"
    />
    <img
      src="./images/w_main_ter.png"
      alt="TER"
      class="w_cover w_cover-06"
      data-aos="fade-left"
      data-aos-delay="700"
    />

    <!-- swiper -->
    <div class="swiper-main">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="./images/w_main_01_m.png"
              alt="NORTHFACE clothes img"
              class=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/w_main_02.png"
              alt="NORTHFACE clothes img"
              class=""
            />
          </div>
          <div class="swiper-slide">
            <img
              src="./images/w_main_03_m.png"
              alt="NORTHFACE clothes img"
              class=""
            />
          </div>
        </div>
      </div>
    </div>

    <img src="./images/w_main_m.png" alt="torn hole BG" class="window" />
  </div>

  <!-- nav -->
  <div class="sticky-tab" id="stickyTab01" role="navigation">
    <div class="sticky-tab-position">
      <div class="sticky-tab__container">
        <ul class="sticky-tab__list">
          <li class="is-active">
            <a href="#benefit" data-target="benefit" class="sticky-tab__link"
              ><img src="./images/w_nav_01.png" alt="BENEFIT" />
              <img src="./images/w_nav_01_on.png" alt="BENEFIT"
            /></a>
          </li>
          <li class="">
            <a href="#today" data-target="today" class="sticky-tab__link"
              ><img src="./images/w_nav_02.png" alt="TODAY ITEM" />
              <img src="./images/w_nav_02_on.png" alt="TODAY ITEM"
            /></a>
          </li>
          <li class="">
            <a href="#percent" data-target="percent" class="sticky-tab__link"
              ><img src="./images/w_nav_03.png" alt="BEST ITEM" />
              <img src="./images/w_nav_03_on.png" alt="BEST ITEM"
            /></a>
          </li>
          <li class="">
            <a href="#last" data-target="last" class="sticky-tab__link"
              ><img src="./images/w_nav_04.png" alt="LAST CHANCE" />
              <img src="./images/w_nav_04_on.png" alt="LAST CHANCE"
            /></a>
          </li>
          <li class="">
            <a href="#special" data-target="special" class="sticky-tab__link"
              ><img src="./images/w_nav_05.png" alt="SPECIAL BENEFIT" />
              <img src="./images/w_nav_05_on.png" alt="SPECIAL BENEFIT"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- benefit -->
  <div class="benefit-container" id="benefit">
    <div class="benefit--wrapper wrapper">
      <!-- 반복 -->
      <div
        class="content__header-00"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      >
        <div class="content__base">
          <img src="./images/w_benefit.png" alt="BENEFIT" class="" />
        </div>
        <div class="content--title">
          <img
            src="./images/w_benefit__title.png"
            alt="담을수록 할인되는 역시즌 쿠폰"
            class=""
          />
        </div>
        <div class="content--sub">
          <img
            src="./images/w_benefit__text.png"
            alt="2개 사면 10% 추가 할인 & 4개 사면 25% 추가 할인"
            class=""
          />
        </div>
      </div>

      <div class="benefit__body">
        <div class="benefit__coupon">
          <div
            class="benefit__coupon-01"
            data-aos="fade-up"
            data-aos-offset="100"
          >
            <img
              src="./images/w_coupon_01.png"
              alt="2개 이상 구매시 10% 최대 2만원 할인 COUPON"
              class=""
            />
          </div>
          <div
            class="benefit__coupon-02"
            data-aos="fade-up"
            data-aos-offset="100"
            data-aos-delay="100"
          >
            <img
              src="./images/w_coupon_02.png"
              alt="4개 이상 구매시 25% 최대 4만원 할인 COUPON"
              class=""
            />
          </div>
        </div>
        <a
          href="javascript:void(0)"
          class="benefit__btn"
          role="coupon__download-button"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="./images/w_coupon_btn.png"
            alt="쿠폰 한번에 다운받기"
            class=""
          />
        </a>
      </div>
    </div>

    <img src="./images/northface_w_03_m.jpg" alt="BENEFIT BG" />
  </div>

  <!-- daily -->
  <div class="daily-container" id="today">
    <div class="daily--wrapper wrapper">
      <div
        class="content__header"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      >
        <div class="content__base">
          <img src="./images/w_today.png" alt="TODAY ITEM" class="" />
        </div>
        <div class="content--title">
          <img
            src="./images/w_today__title.png"
            alt="역시즌 데일리 특가"
            class=""
          />
        </div>
        <div class="content--sub">
          <img
            src="./images/w_today__text.png"
            alt="매일 매일 바뀌는 상품"
            class=""
          />
        </div>
      </div>

      <!-- swiper -->
      <div class="daily__body" id="today">
        <div class="swiper-01">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="./images/w_today_item_01.png"
                  alt="8.26 MON 여성 퍼피 플리스 자켓 50%할인"
                  data-aos="fade-up"
                  data-aos-delay="100"
                  data-aos-offset="200"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="./images/w_today_item_02.png"
                  alt="8.26 MON 노벨티 눕시 RDS 다운 자켓 70%할인"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  data-aos-offset="200"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="./images/w_today_item_03.png"
                  alt="8.26 MON 키즈 바이탈 EX 다운 자켓 40%할인"
                  data-aos="fade-up"
                  data-aos-delay="0"
                  data-aos-offset="200"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="./images/w_today_item_01.png"
                  alt="8.26 MON 여성 퍼피 플리스 자켓 50%할인"
                  data-aos="fade-up"
                  data-aos-delay="100"
                  data-aos-offset="200"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="./images/w_today_item_02.png"
                  alt="8.26 MON 노벨티 눕시 RDS 다운 자켓 70%할인"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  data-aos-offset="200"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="./images/w_today_item_03.png"
                  alt="8.26 MON 키즈 바이탈 EX 다운 자켓 40%할인"
                  data-aos="fade-up"
                  data-aos-delay="0"
                  data-aos-offset="200"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="./images/northface_w_04_m.jpg" alt="DAILY BG" />
  </div>

  <!-- percent -->
  <div class="percent-container" id="percent">
    <div class="percent-wrapper wrapper">
      <div
        class="content__header"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      >
        <div class="content--title">
          <img
            src="./images/w_percent__title.png"
            alt="할인율 별 BEST ITEM"
            class=""
          />
        </div>
        <div class="content--sub">
          <img
            src="./images/w_percent__text.png"
            alt="지금 아니면 품절! 역시즌 베스트 아이템"
            class=""
          />
        </div>
      </div>

      <div class="percent__tab">
        <!-- tab -->
        <ul class="percent__tab-list" role="tablist">
          <li class="percent__tab-01 is-active" role="tab-01" tabindex="0">
            <img src="./images/w_tab_01.png" alt="70~90%" class="" />
            <img src="./images/w_tab_01_on.png" alt="70~90%" class="" />
          </li>
          <li class="percent__tab-02" role="tab-02" tabindex="0">
            <img src="./images/w_tab_02.png" alt="50~60%" class="" />
            <img src="./images/w_tab_02_on.png" alt="50~60%" class="" />
          </li>
          <li class="percent__tab-03" role="tab-03" tabindex="0">
            <img src="./images/w_tab_03.png" alt="30~40%" class="" />
            <img src="./images/w_tab_03_on.png" alt="30~40%" class="" />
          </li>
        </ul>

        <ul class="percent__tab-box">
          <li class="percent__tab-box-01 is-active" role="tabpanel-01">
            <img
              src="./images/w_percent_item_01_01.png"
              alt="W'S NUPTSE SHORT JACKET 여성 눕시 숏 자켓 70%할인"
              class=""
              data-aos="fade-up"
            />
            <img
              src="./images/w_percent_item_01_02.png"
              alt="G'S PUFFY FLEECE JACKET 걸스 퍼피 플리스 자켓 80%할인"
              class=""
              data-aos="fade-up"
              data-aos-delay="100"
            />
            <img
              src="./images/w_percent_item_01_03.png"
              alt="BOOTIE SHORT NZ 부띠 숏 부츠 90%할인"
              class=""
              data-aos="fade-up"
              data-aos-delay="300"
            />
          </li>
          <li class="percent__tab-box-02" role="tabpanel-02">
            <img
              src="./images/w_percent_item_02_01.png"
              alt="K'S OLEMA COACH JACKET 키즈 올레마 코치 자켓 60%할인"
              class=""
            />
            <img
              src="./images/w_percent_item_02_02.png"
              alt="W'S NEILTON JACKET 여성 닐튼 자켓 50%할인"
              class=""
            />
            <img
              src="./images/w_percent_item_02_03.png"
              alt="W'S NOVELTY NUPTSE DOWN JACKET 여성 노벨티 눕시 다운 자켓 50%할인"
              class=""
            />
          </li>
          <li class="percent__tab-box-03" role="tabpanel-03">
            <img
              src="./images/w_percent_item_03_01.png"
              alt="MULE SLIP ON CLASSIC /H 남성 뮬 슬립온 클래식 /H 30%할인"
              class=""
            />
            <img
              src="./images/w_percent_item_03_02.png"
              alt="DYEING NUPTSE RDS DOWN JACKET 다잉 눕시 RDS 다운 자켓 30%할인"
              class=""
            />
            <img
              src="./images/w_percent_item_03_03.png"
              alt="K'S STRETCH COMPACT JACKET 키즈 스트레치 컴팩트 자켓 40%할인"
              class=""
            />
          </li>
        </ul>
        <a
          href="javascript:void(0)"
          class="percent__btn"
          role="percent__item-more"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <img
            src="./images/w_percent_btn.png"
            alt="할인 상품 더보기"
            class=""
          />
        </a>
      </div>

      <div
        class="content__header"
        id="last"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      >
        <div class="content--title">
          <img src="./images/w_last__title.png" alt="LAST CHANCE" class="" />
        </div>
        <div class="content--sub">
          <img
            src="./images/w_last_text.png"
            alt="역시즌 제품 할인 최대 90%"
            class=""
          />
        </div>
      </div>

      <div class="percent__body">
        <div class="percent__inner" data-aos="fade-up" data-aos-delay="0">
          <img
            src="./images/w_last_item_01_m.png"
            alt="겨울에는 역시, 노스페이스 다운 - 다운 & 패딩 - 바룬체 다운 자켓 50% 할인"
            class=""
          />
        </div>
        <div class="percent__inner" data-aos="fade-up" data-aos-offset="100">
          <img
            src="./images/w_last_item_02_m.png"
            alt="더 가볍고, 더 포근한 - 플리스 자켓 - 컴피 알파 플리스 집업 90% 할인"
            class=""
          />
        </div>
        <div class="percent__inner" data-aos="fade-up" data-aos-offset="200">
          <img
            src="./images/w_last_item_03_m.png"
            alt="역시즌에도 퀄리티있게 - 화이트라벨 - 퀀텀 엘버런 다운 자켓 40% 할인"
            class=""
          />
        </div>
        <div class="percent__inner" data-aos="fade-up" data-aos-offset="300">
          <img
            src="./images/w_last_item_04_m.png"
            alt="우리 아이 겨울옷 걱정 끝! - KIDS - 1996 에코 눕시 다운 자켓 60%"
            class=""
          />
        </div>
      </div>
    </div>
    <img src="./images/northface_w_05_m.jpg" alt="BESTITEM, LASTCHANCE BG" />
  </div>

  <div class="special-container" id="special">
    <div class="special--wrapper wrapper">
      <div
        class="content__header"
        data-aos="fade-up"
        data-aos-offset="100"
        data-aos-delay="200"
      >
        <div class="content__base">
          <img src="./images/w_special.png" alt="SPECIAL BENEFIT" class="" />
        </div>
        <div class="content--title">
          <img
            src="./images/w_special__title.png"
            alt="할인에 할인을 더하다"
            class=""
          />
        </div>
        <div class="content--sub">
          <img
            src="./images/w_special__text.png"
            alt="역시즌 할인이 끝이 아니다! 결제 할인 및 적립까지 놓치지 마세요!"
            class=""
          />
        </div>
      </div>
      <div class="special__body">
        <div class="special__coupon-01" data-aos="fade-up" data-aos-delay="100">
          <img
            src="./images/w_special_01.png"
            alt="노스페이스 앱으로 상품 구매하면 5% 추가 할인 혜택 *일부 상품 제외 *기간 내 구매자 전원 혜택 적용"
            class=""
          />
        </div>
        <div class="special__coupon-02" data-aos="fade-up" data-aos-delay="200">
          <img
            src="./images/w_special_02_m.png"
            alt="역시즌 상품 담고 네이버 페이로 결제하면 네이버 페이 포인트 적립 *선착순 4,000명 대상(실명인증 기준 1인당 1회) *기간 내 결제금액, 선착순 조건 충족 시 지급"
            class=""
          />
        </div>
      </div>
    </div>
    <img src="./images/northface_w_06_m.jpg" alt="SPECIAL BENEFIT BG" />
  </div>

  <div class="promotion-list-link">
    <a href="../../">목록보기</a>
  </div>
</main>

{% include '../../_includes/partials/footer/index.html' %}
