<section
  class="section section--full-width section--technology"
  data-aos="fade-up"
  data-aos-delay="400"
  data-aos-duration="1000"
>
  <div class="inner">
    <div class="video-wrap">
      <a class="hidden-link" href="./page/technology/index.html">
        <span class="a11y-hidden">테크놀로지로 이동</span>
      </a>
      <div class="video-box">
        <video
          src="./assets/images/main/tech_vid.mp4"
          autoplay
          muted
          playsinline
          loop
        ></video>
      </div>
      <div class="nofe-image">
        <img src="./assets/images/main/technology_text.png" alt="" />
        <!-- <a class="technology-button" href="./page/technology/index.html"></a> -->
      </div>
    </div>
  </div>
</section>
