---
layout: "default"
css:
  - "https://unpkg.com/swiper/swiper-bundle.min.css"
  - "./assets/styles/common.scss"
  - "./style.scss"
js:
  - "https://unpkg.com/swiper/swiper-bundle.min.js"
  - "./assets/js/common.js"
  - "./script.js"
---

{% assign imgPath01 = "./" %} {% include
'./_includes/partials/header/index.html' %} {% include
'./_includes/partials/gnb/index.html' %}

<main class="container page-main">
  <!--list-page ,sticky-bar  -->
  <!-- {% include './_includes/components/stickyBar/index.html' %} -->
  <div class="main-contents__visual">
    <div class="swiper-main">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="./promotion/a">
              <img
                src="./assets/images/main/m_main_s_03.jpg"
                alt="2024 THANKS FESTIVAL - 대한민국 100대 브랜드 패션부문 11년 연속 1위 7일간 특별한 쇼핑 혜택을 만나보세요"
                class=""
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./promotion/b">
              <img
                src="./assets/images/main/m_main_s_02.jpg"
                alt="하나된 우리, 눈부신 승리! 국가대표 가슴에 노스페이스 - 2024년 파리 올림픽 국가대표 선수들과 함께한 노스페이스의 빛이 나는 만남"
                class=""
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="./promotion/c">
              <img
                src="./assets/images/main/m_main_s_01.jpg"
                alt="GET READY FOR WINTER - 노스페이스 다운 역시즌 특가 미리 준비하는 겨울"
                class=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_01.jpg"
      alt="~~님이 좋아할 만한 쇼핑 키워드! 비슷한 연령이 많이 검색한 키워드입니다."
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_02.jpg"
      alt="늘 새로운 노스페이스 신제품"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_03.jpg"
      alt="OUTDOOR SUMMER NEVER STOP EXPLORING THE NORTH FACE"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_04.jpg"
      alt="테크웨어로 완성하는 노스페이스 패션 스타일링"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_05.jpg"
      alt="하나된 우리, 눈부신 승리 - 자랑스러운 대한민국 선수들과 노스페이스와의 빛이 나는 만남 공식 단복 보러가기"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_06.jpg"
      alt="최근에 검색한 윈드브레이커와 비슷한 상품"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_07.jpg"
      alt="노스페이스 베스트 상품"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_08.jpg"
      alt="다른 고객님들이 많이 찾는 상품"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_09.jpg"
      alt="Never Stop Exploring "
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_10.jpg"
      alt="노스페이스로 완성하는 소미의 꾸안꾸 스타일링 #전소미'S PICK #꾸안꾸 #간절기아이템"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_11.jpg"
      alt="함께 즐기는 노스페이스"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_14.jpg"
      alt="회원님들을 위한 노스페이스의 특별 혜택"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_12.jpg"
      alt="회원님들을 위한 노스페이스의 특별 혜택"
    />
  </div>
  <div class="main-contents">
    <img
      src="./assets/images/main/m_northface_main_13.jpg"
      alt="사람과 자연의 공존, 노스페이스 테크놀러지 - 자세히보기"
    />
  </div>
</main>

{% assign imgPath = "./assets/images/common/" %} {% assign imgPath01 =
"../assets/images/common/" %} {% include
'./_includes/partials/footer/index.html' %}
