<header class="layout-header">
  <div class="layout-header__inner">
    <div class="layout-header__left">
      <div class="layout-header__logo">
        <a class="layout-header__logo-link" href="{{imgPath01}}index.html">
          <span class="a11y-hidden">노스페이스</span>
        </a>
      </div>
      <div class="menu-head__back">
        <button class="btn-mob-back" type="button">
          <span class="a11y-hidden">뒤로가기</span>
        </button>
      </div>
    </div>

    <div class="menu-head__title"></div>

    <div class="layout-header__utils">
      <ul class="layout-header__utils-list">
        <li class="layout-header__utils-item">
          <a
            class="layout-header__btn layout-header__btn-04 item--home"
            href="{{imgPath01}}index.html"
          >
            <span class="a11y-hidden">home</span>
          </a>
        </li>
        <li class="layout-header__utils-item">
          <button
            class="layout-header__btn layout-header__btn-01"
            type="button"
          >
            <span class="a11y-hidden">Search</span>
          </button>
        </li>
        <li class="layout-header__utils-item has-dot">
          <button
            class="layout-header__btn layout-header__btn-02"
            type="button"
          >
            <span class="a11y-hidden">cart</span>
          </button>
        </li>
        <li class="layout-header__utils-item item--gnb">
          <button
            class="layout-header__btn layout-header__btn-03 gnb-btn"
            type="button"
          >
            <span class="a11y-hidden">메뉴</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
