<section
  class="section section--pictorial"
  data-aos="fade-up"
  data-aos-delay="400"
  data-aos-duration="1000"
>
  <div class="section__body">
    <div class="contetns contetns--left">
      <div class="nofe-image">
        <img src="./assets/images/main/pictorial_item01.jpg" alt="" />
      </div>
      <div class="nofe-image nofe-image--text">
        <img src="./assets/images/main/pictorial_text01.png" alt="" />
      </div>
    </div>
    <div class="contetns contetns--right">
      <div class="nofe-image">
        <img src="./assets/images/main/pictorial_item02.png" alt="" />
      </div>
    </div>
  </div>
</section>
