.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-out;
  gap: 10px;
}
.carousel-slide {
  flex-shrink: 0;
  overflow: hidden;

  user-select: none;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // transition: all 0.3s ease-out;
  user-select: none;
  -webkit-user-drag: none;
}
.carousel-indicators {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #9ca3af;
  margin: 0 0.25rem;
}
.indicator.active {
  background-color: #3b82f6;
}

.progress-bar-container {
  width: 1280px;
  height: 2px;
  top: auto;
  bottom: 0;
  background-color: #e7e7e7;
  transition: width 0.5s ease-out;

  position: absolute;
  bottom: 0;
  left: 0;
}

.progress-bar {
  height: 100%;
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;

  transition: width 0.5s ease-out;
}

.carousel-slide.is-active {
  transition: all 0.5s ease-out;

  img {
    transition: all 0.5s ease-out;
  }
}

.carousel-slide.remove-active {
  transition: none;

  img {
    transition: none;
  }
}
