---
layout: "default"
css:
  - "../../assets/styles/common.scss"
  - "./index.scss"
js:
  - "../../assets/js/common.js"
  - "./script.js"
---

{% assign imgPath01 = "../../" %} {% include
'../../_includes/partials/header/index.html' %} {% include
'../../_includes/partials/gnb/index.html' %}

<main class="container page-promotion">
  <div class="main-container">
    <img
      src="./images/northface_m_01.jpg"
      alt="NORTHFACE VISUAL - GET READY FOR WINTER UP TO 90% 노스페이스 다운 역시즌 특가 미리 준비하는 겨울"
    />
  </div>

  <div class="main-container">
    <img
      src="./images/northface_m_02.jpg"
      alt="BENEFIT - 담을 수록 할인되는 역시즌 쿠폰 2개사면 10% 추가 할인(최대 2만원) & 4개 사면 25% 추가 할인(최대 4만원)"
    />
  </div>
  <div class="main-container">
    <img
      src="./images/northface_m_03.jpg"
      alt="TODAY ITEM - 역시즌 데일리 특가 매일 매일 바뀌는 상품"
    />
  </div>
  <div class="main-container">
    <img
      src="./images/northface_m_04.jpg"
      alt="할인율 별 BEST ITEM - 지금 아니면 품절! 역시즌 베스트 아이템 할인율 30~90%"
    />
  </div>
  <div class="main-container">
    <img
      src="./images/northface_m_05.jpg"
      alt="LAST CHANCE 역시즌 제품 할인 최대 90% - 다운 & 패딩, 플리스 자켓, 화이트라벨, KIDS"
    />
  </div>
  <div class="main-container">
    <img
      src="./images/northface_m_06.jpg"
      alt="SPECIAL BENEFIT 할인에 할인을 더하다 역시즌 할인이 끝이 아니다! 결제 할인 및 적립까지 놓치지 마세요! 노스페이스 앱으로 구매시 5% 추가 할인 혜택, 네이버 페이 결제 시 네이버 페이 포인트 적립."
    />
  </div>
  <div class="main-container">
    <img src="./images/northface_m_07.jpg" alt="" />
  </div>
</main>

{% assign pageHome = "../../index.html" %} {% assign imgPath =
"../../assets/images/common/" %} {% include
'../../_includes/partials/footer/index.html' %}
