---
layout: "default"
css:
  - "../../assets/styles/common.scss"
  - "./style.scss"
js:
  - "../../assets/js/common.js"
  - "./script.js"
---

{% assign indexsrc = "../../" %} {% include
'../../_includes/partials/header/index.html', transparent: true %}
<main
  class="container page-subpage page-subpage--lookbook-detail page-subpage--lookbook"
>
  <!-- intro -->
  <section class="section section-01 section--full-width">
    <div class="section-inner">
      <div class="video-box">
        <video
          src="../../assets/images/lookbook/lookbook_vid01.mp4"
          autoplay
          muted
          playsinline
          loop
        ></video>
      </div>
      <div class="text-box">
        <h1 class="section__title--m">OUTDOOR SUMMER</h1>
      </div>
    </div>
  </section>

  <!-- styling-pleasant -->
  <section class="section section-02 section--full-width">
    <div class="section__header scrolling-header">
      <div class="title-box">
        <div class="reveal">
          <div class="reveal__text">
            <img src="../../assets/images/lookbook/reveal_text01.png" alt="" />
          </div>
        </div>
        <div class="reveal">
          <div class="reveal__text">
            <img src="../../assets/images/lookbook/reveal_text02.png" alt="" />
          </div>
        </div>
      </div>
      <div class="section__header-inner">
        <div class="section__header-cover section__header-cover--01"></div>
        <div class="section__header-cover section__header-cover--02"></div>
        <div class="image-box">
          <img
            src="../../assets/images/lookbook/lookbook_detail01.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="section__body">
      <div
        class="section-02__detail"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <ul class="detail-image">
          <div class="image-box">
            <img
              src="../../assets/images/lookbook/lookbook_detail02.jpg"
              alt=""
            />
          </div>
        </ul>
        <ul class="detail-list">
          <li class="detail-list__item detail-list__item--01">
            <div class="detail-list__item-btn">
              <img src="../../assets/images/lookbook/icon_plus.png" alt="" />
            </div>
            <div class="detail-list__item-box">
              <div class="image-box detail-list__image">
                <img
                  src="../../assets/images/lookbook/lookbook_detail_thumb01.jpg"
                  alt=""
                />
              </div>
              <div class="detail-list__text">
                <p class="section__text--m ff-ko">COTTON BALL CAP CORDUROY</p>
                <span class="section__text--l ff-ko">20,800원</span>
              </div>
            </div>
          </li>
          <li class="detail-list__item detail-list__item--02">
            <div class="detail-list__item-btn">
              <img src="../../assets/images/lookbook/icon_plus.png" alt="" />
            </div>
            <div class="detail-list__item-box">
              <div class="image-box detail-list__image">
                <img
                  src="../../assets/images/lookbook/lookbook_detail_thumb02.jpg"
                  alt=""
                />
              </div>
              <div class="detail-list__text">
                <p class="section__text--m ff-ko">HOT SHOT</p>
                <span class="section__text--l ff-ko">130,500원</span>
              </div>
            </div>
          </li>
          <li class="detail-list__item detail-list__item--03">
            <div class="detail-list__item-btn">
              <img src="../../assets/images/lookbook/icon_plus.png" alt="" />
            </div>
            <div class="detail-list__item-box">
              <div class="image-box detail-list__image">
                <img
                  src="../../assets/images/lookbook/lookbook_detail_thumb03.jpg"
                  alt=""
                />
              </div>
              <div class="detail-list__text">
                <p class="section__text--m ff-ko">FIORD SANDAL</p>
                <span class="section__text--l ff-ko">125,300원</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="image-box image-box--big"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <img src="../../assets/images/lookbook/lookbook_detail03.jpg" alt="" />
      </div>
      <div class="section-02__bottom">
        <div
          class="section-02__bottom-wrap io-delay--01"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="image-box image-box--01">
            <img
              src="../../assets/images/lookbook/lookbook_detail04.jpg"
              alt=""
            />
          </div>
          <div class="image-box image-box--02">
            <img
              src="../../assets/images/lookbook/lookbook_prd_info01.jpg"
              alt=""
            />
          </div>
        </div>
        <div
          class="image-box"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="400"
        >
          <img
            src="../../assets/images/lookbook/lookbook_detail05.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section section-03 section--full-width">
    <div class="scrolling-section scrolling-section--01">
      <div class="scrolling-section__inner">
        <div class="scrolling-left scrolling-prd">
          <div class="image-box image-box--01">
            <img
              src="../../assets/images/lookbook/lookbook_prd_detail01.png"
              alt=""
            />
          </div>
          <div class="image-box image-box--02">
            <img
              src="../../assets/images/lookbook/lookbook_prd_detail02.png"
              alt=""
            />
          </div>
          <div class="image-box image-box--03">
            <img
              src="../../assets/images/lookbook/lookbook_prd_detail03.png"
              alt=""
            />
          </div>
        </div>
        <div class="scrolling-right scrolling-image">
          <div class="image-box image-box--01">
            <img
              src="../../assets/images/lookbook/lookbook_detail07.jpg"
              alt=""
            />
            <!-- <div class="image-box--bg image-box--bg01"></div> -->
          </div>
          <div class="image-box image-box--02">
            <img
              src="../../assets/images/lookbook/lookbook_detail06.jpg"
              alt=""
            />
            <!-- <div class="image-box--bg image-box--bg02"></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-section scrolling-section--02">
      <div class="scrolling-section__inner">
        <div class="scrolling-left scrolling-image">
          <div class="image-box image-box--01">
            <img
              src="../../assets/images/lookbook/lookbook_detail08.jpg"
              alt=""
            />
            <!-- <div class="image-box--bg image-box--bg03"></div> -->
          </div>
          <div class="image-box image-box--02">
            <img
              src="../../assets/images/lookbook/lookbook_detail09.jpg"
              alt=""
            />

            <!-- <div class="image-box--bg image-box--bg04"></div> -->
          </div>
        </div>
        <div class="scrolling-right scrolling-prd">
          <div class="image-box image-box--01">
            <img
              src="../../assets/images/lookbook/lookbook_prd_detail04.png"
              alt=""
            />
          </div>
          <div class="image-box image-box--02">
            <img
              src="../../assets/images/lookbook/lookbook_prd_detail05.png"
              alt=""
            />
          </div>
          <div class="image-box image-box--03">
            <img
              src="../../assets/images/lookbook/lookbook_prd_detail06.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-04 section--full-width">
    <div class="marquee-wrap">
      <div class="marquee__item">
        <img src="../../assets/images/lookbook/marquee_black.png" alt="" />
      </div>
      <div class="marquee__item">
        <img src="../../assets/images/lookbook/marquee_black.png" alt="" />
      </div>
    </div>
    <div class="video-box" data-aos="fade-up" data-aos-duration="1000">
      <video
        src="../../assets/images/lookbook/lookbook_vid02.mp4"
        autoplay
        muted
        playsinline
        loop
      ></video>
    </div>
    <div class="image-wrap" data-aos="fade-up" data-aos-duration="1000">
      <div class="image-box">
        <img src="../../assets/images/lookbook/lookbook_detail10.jpg" alt="" />
      </div>
      <div class="image-box">
        <img src="../../assets/images/lookbook/lookbook_detail11.jpg" alt="" />
      </div>
    </div>
  </section>

  <!-- cooling-everywhere -->
  <div class="section-wrap">
    <section class="section section-05 section--full-width">
      <div class="section__header scrolling-header">
        <div class="title-box">
          <span class="reveal"
            ><span class="reveal__text"
              ><img
                src="../../assets/images/lookbook/reveal_text03.png"
                alt="" /></span
          ></span>
          <span class="reveal"
            ><span class="reveal__text"
              ><img
                src="../../assets/images/lookbook/reveal_text04.png"
                alt="" /></span
          ></span>
        </div>
        <div class="section__header-inner">
          <div class="section__header-cover section__header-cover--01"></div>
          <div class="section__header-cover section__header-cover--02"></div>
          <div class="image-box">
            <img
              src="../../assets/images/lookbook/lookbook_detail12.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="section__body">
        <div
          class="section-05__detail"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <ul class="detail-image">
            <div class="image-box">
              <img
                src="../../assets/images/lookbook/lookbook_detail13.jpg"
                alt=""
              />
            </div>
          </ul>
        </div>
        <div class="image-wrap" data-aos="fade-up" data-aos-duration="1000">
          <div class="image-box">
            <img
              src="../../assets/images/lookbook/lookbook_detail14.jpg"
              alt=""
            />
          </div>
          <div class="image-box position-box">
            <img
              src="../../assets/images/lookbook/lookbook_prd_info02.png"
              alt=""
            />
          </div>
        </div>
        <div class="section-05__bottom">
          <div
            class="section-05__bottom-wrap"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="image-box image-box--01">
              <img
                src="../../assets/images/lookbook/lookbook_detail15.jpg"
                alt=""
              />
            </div>
            <div class="image-box image-box--02">
              <img
                src="../../assets/images/lookbook/lookbook_prd_info03.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="image-box"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <img
              src="../../assets/images/lookbook/lookbook_detail16.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="section section-06 section--full-width">
      <div class="scrolling-section scrolling-section--02">
        <div class="scrolling-inner">
          <div class="scrolling-left scrolling-image">
            <div class="image-box">
              <img
                src="../../assets/images/lookbook/lookbook_detail17.jpg"
                alt=""
              />

              <!-- <div class="image-box--bg image-box--bg05"></div> -->
            </div>
          </div>
          <div class="scrolling-right scrolling-prd">
            <div class="image-box image-box--01">
              <img
                src="../../assets/images/lookbook/lookbook_prd_detail07.png"
                alt=""
              />
            </div>
            <div class="image-box image-box--02">
              <img
                src="../../assets/images/lookbook/lookbook_prd_detail08.png"
                alt=""
              />
            </div>
            <div class="image-box image-box--03">
              <img
                src="../../assets/images/lookbook/lookbook_prd_detail11.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="scrolling-section scrolling-section--01">
        <div class="scrolling-inner">
          <div class="scrolling-left scrolling-prd">
            <div class="image-box image-box--01">
              <img
                src="../../assets/images/lookbook/lookbook_prd_detail09.png"
                alt=""
              />
            </div>
            <div class="image-box image-box--02">
              <img
                src="../../assets/images/lookbook/lookbook_prd_detail10.png"
                alt=""
              />
            </div>
            <div class="image-box image-box--03">
              <img
                src="../../assets/images/lookbook/lookbook_prd_detail12.png"
                alt=""
              />
            </div>
          </div>
          <div class="scrolling-right scrolling-image">
            <div class="image-box">
              <img
                src="../../assets/images/lookbook/lookbook_detail18.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-07 section--full-width">
      <div class="marquee-wrap">
        <div class="marquee__item">
          <img src="../../assets/images/lookbook/marquee_white.jpg" alt="" />
        </div>
        <div class="marquee__item">
          <img src="../../assets/images/lookbook/marquee_white.jpg" alt="" />
        </div>
      </div>
      <div class="video-box" data-aos="fade-up" data-aos-duration="1000">
        <video
          src="../../assets/images/lookbook/lookbook_vid03.mp4"
          autoplay
          muted
          playsinline
          loop
        ></video>
      </div>
      <div class="image-wrap" data-aos="fade-up" data-aos-duration="1000">
        <div class="image-box">
          <img
            src="../../assets/images/lookbook/lookbook_detail19.jpg"
            alt=""
          />
        </div>
        <div class="image-box">
          <img
            src="../../assets/images/lookbook/lookbook_detail20.jpg"
            alt=""
          />
        </div>
      </div>
    </section>
  </div>
</main>
{% include '../../_includes/partials/footer/index.html' %}
